<h2>Show Line</h2>

<ul>

  <li>
    <strong>Number:</strong>
    <%= @line.number %>
  </li>

  <li>
    <strong>Switch:</strong>
    <%= link @line.switch.name,
        to: switch_path(@conn,:show,@line.switch.id) %>
  </li>
  

</ul>

<span><%= link "Edit", to: line_path(@conn, :edit, @line) %></span>
<span><%= link "Back", to: line_path(@conn, :index) %></span>
